*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-blue: #36c;
    --primary-dark: #25b;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
.navbar {
    background-color: #f8f9fa!important;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
}
.navbar__link {
    margin-left: 4px;
}
.navbar__img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    -webkit-tap-highlight-color: none;
}
.navbar__header {
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 0.5rem;
    line-height: inherit;
    white-space: nowrap;
    color: rgba(0,0,0,.9);
}
.navbar__hamburger:focus {
    background-color: var(--primary-dark);
}
.navbar__hamburger > .hamburger__line {
    background: #fff;
    margin: 8px 4px;
    border: 0;
    height: 4px;
}
.side__nav {
    height: 100vh;
    width: 100%;
    background: var(--primary-blue);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1;
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side__nav--active {
    transform: translateX(0);
}
.search__input {
    width: 20%;
    max-width: 300px;
    height: 40px;
    margin-left: 4px;
    padding: 4px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 5px 0px rgba(0,0,0,.35);
}
.main {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description {
    font-size: 1.9rem;
    width: 90%;
    text-align: center;
}
.notools {
    display: none;
    font-size: 2rem;
    color: gray;
    width: 90%;
    text-align: center;
}
.description__link {
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: 700;
}
.description__link:hover {
    text-decoration: underline;
}
.main__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.card {
    width: 250px;
    height: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 15px;
    position: relative;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.20);
    background: #f8f9fa!important;
}
.title {
    text-align: center;
    margin-top: 50px;
    color: #111;
    font-size: 2.5rem;
}
.img__div {
    margin-top: 20px;
    width: 80%;
    height: 150px;
    border: 1px solid var(--primary-blue);
    border-radius: 4px;
    margin-bottom: 10px;
}
.card__title {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
}
.card__description {
    width: 80%;
    font-size: 1.4rem;
    text-align: center;
    color: #404549;
    margin: 5px;
    margin-bottom: 10px;
}
.topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.topic {
    background: #eaf3ff;
    padding: 3px 11px;
    margin: 2px;
    font-size: 1.2rem;
    border-radius: 4px;
}
.author {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #404549;
}
.author a {
    color: var(--primary-blue);
    font-weight: 500;
}
.card__buttons {
    width: 100%;
    background: var(--primary-blue);
    height: 30px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
}
.button__link {
    width: 50%;
    height: 100%;
    border: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    transition: .3s;
    cursor: pointer;
    background: var(--primary-blue);
    outline: none;
}
.button__link:hover {
    background: #fff;
    color: var(--primary-blue);
}
.button__link:hover a {
    color: var(--primary-blue);
}
.button__link i {
    margin-right: 5px;
}
.button__link a {
    color: #fff;
    text-decoration: none;
}
footer {
    background-color: #f8f9fa!important;
    padding-top: 3rem;
    padding-bottom: 5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.footer__sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer__left {
    position: absolute;
    left: 10px;
}
.footer__right {
    position: absolute;
    right: 10px;
}
footer a {
    text-decoration: none;
    color: var(--primary-blue);
}
@media(min-width: 400px){
    html {
        font-size: 11px;
    }
    .card {
        width: 350px;
        height: 450px;
    }
    .card__buttons {
        height: 40px;
    }
}
@media(min-width: 1000px){
    .card {
        width: 320px;
        height: 440px;
        margin: 20px;
    }
}
@media(min-width: 1300px){
    .main__cards {
        width: 75%;
    }
    .description {
        width: 60%;
    }
    .search__input {
        right: 20%;
    }
    .navbar__link {
        margin-left: 20%;
    }
}