<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image" href="{{ url_for('static', filename='logo3.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <title>Wikimedia Toolforge</title>
</head>
<body>
    <header class="navbar">
        <a href="#" class="navbar__link">
            <img src="{{ url_for('static', filename="logo3.png") }}" alt="" class="navbar__img">
        </a>
        <input type="search" onkeyup="searchApps()" name="search" class="search__input" id="" placeholder="Search for apps..." autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search for apps...'">
        
        
    </header>
    <nav class="side__nav">
        
    </nav>
    <main class="main">
        <p class="description">A showcase of interactive tools hosted on <a href="http://tools.wmflabs.org" class="description__link">Wikimedia toolforge</a>. To submit your tool, read the contribution guidelines (coming soon!) </p>
        <h1 class="title">Toolforge apps</h1>
        <section class="main__cards">
            {% for app in apps %}
            <div class="card">
                <div class="img__div" style="background: url(/tool-gallery/{{ app.thumbnail }}) no-repeat center; background-size: cover;"></div>
                <h2 class="card__title">{{ app.title }}</h2>
                <p class="card__description">Searches wikipedia and displays the first search result
                 <br>
                </p>
                <div class="modules">
                    {% for module in app.modules %}
                    <span class="module">{{ module }}</span>
                    {% endfor %}
                </div>
                {% if 'bitbucket' in app.source %}
                <h3 class="author">Built by <a href="//bitbucket.org/{{ app.owner }}">@{{ app.owner }}</a></h3>
                {% elif 'gitlab' in app.source %}
                <h3 class="author">Built by <a href="//gitlab.com/{{ app.owner }}">@{{ app.owner }}</a></h3>
                {% else %}
                <h3 class="author">Built by <a href="//github.com/{{ app.owner }}">@{{ app.owner }}</a></h3>
                {% endif %}
                <div class="card__buttons">
                    <button class="button__link"><a href="{{ app.source }}"><i class="fas fa-code"></i> Source code</a></button>
                    <button class="button__link"><a href="{{ app.url }}"><i class="fas fa-external-link-alt"></i>Live</a></button>
                </div>
            </div>
            {% endfor %}
            
            
        </section>
    </main>
    <footer class="footer"></footer>
</body>
</html>